/*@font-face {
    font-family: Gallaecia;
    src: url(fonts/gallaecia.ttf);
}*/

@font-face {
    font-family: "Fantaisie Artistique";
    src: url(fonts/fantaisieartistique.ttf);
}

@font-face {
    font-family: "Celtic Garamound";
    src: url(fonts/celtic.ttf);
}

@font-face {
    font-family: "Medieval Sharp";
    src: url(fonts/medievalsharp.ttf);
}

@font-face {
    font-family: Lohengrin;
    src: url(fonts/lohengrin.ttf);
}

@font-face {
    font-family: "DS Behrensschrift";
    src: url(fonts/dsbehrensschrift.ttf);
}

@font-face {
    font-family: "Black Chancery";
    src: url(fonts/blackchancery.ttf);
}



header {
	background: url(images/banda.png);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 70;
	height: 55px;
}

header ul {
	margin-top: 7px;
}

header li {
	display: inline-block;
	margin-right: 35px;
}

header img {
	height: 28px;
	vertical-align: text-bottom;
}

header a {
	font-family: "Celtic Garamound";
}

header a:LINK, header a:VISITED {
	text-decoration: none;
	color: #eeeeec;
	font-weight: bold;
	text-shadow: none;
}

header a:HOVER {
	color: #555753;
}

header+div {
	height: 55px;
	width: 100%;
}

body {
	background: url(images/woodtexture7.jpg) #b06f2f;
	margin: 0px;
	font-family: Carlito, arial, sans;
}


a:LINK, a:VISITED {
	text-decoration: none;
	color: #0000a0;
	font-weight: bold;
	font-size: 14pt;
	text-shadow: -1px 1px white;
}

a:HOVER {
	color: #0000f0;
}

main {
	margin: 10px 20px 0px 20px;
	color: #000000;
	background: url(images/wood_2.jpg) rgba(200, 200, 200, 0.4);
	border: inset 3px #37240f;
	border-radius: 15px;
	padding: 12px;
}

h1, h2, h3 {
	font-family: "Medieval Sharp", Carlito, arial, sans;
	text-shadow: 0px 0px 10px #ffffff;
}

/* GM PANEL */
select {
	width: 340px;
	/*background-color: #d3d7cf;*/
	color: #1f035b;
	font-weight: bold;
	margin: 5px 0px;
}

/* ROOM */

#variables {
	width: 100%;
	min-width: 500px;
}

div.var {
	display: inline-block;
	border-radius: 25px;
	background-color: #362307;
	padding: 5px 10px;
	min-width: 75px;
	overflow: hidden;
	height: 20px;
	color: #d3d7cf;
	font-weight: bold;
	/*float:left;*/
	text-align: center;
	margin: 2px 15px 2px 2px;
	font-size: 11pt;
}

div.var.selected {
	border: solid white 2px;
	margin: 0px 13px 0px 0px;
	color: white;
}


div.var span.varname {
	display: block;
	max-width: 75px;
	font-family: "Celtic Garamound";
	font-size: 10pt;
}

div.var:HOVER span.varname, div.var.selected span.varname {
	display: none;
}

div.var span.varval, div.var span.prev {
	display: none;
}

div.var:HOVER span.prev {
	display:inline;
}

div.var.selected span.prev {
	display:none;
}

div.var.selected span.varval {
	display: inline;
}

div.var.intvar {
	background-color: #112d10;
}

div.var.floatvar {
	background-color: #39034c;
}

div.var.stringvar {
	background-color: #590707;
}

div.var.arrayvar {
	background-color: #916502;
}

div.var.objvar {
	background-color: #130766;
}

.inventory {
	background: rgba(0, 0, 0, 0.25);
}

div.objpanel {
	border: solid black 2px;
	border-radius: 10px;
	background: url(images/wood-textures-high-quality-1.jpg) #af7822;
	color: black;
	padding: 10px 15px;
}

.obj_img {
	width:30%;
}

.obj_img img {
	width: 80%;
	margin: 10px;
	max-width: 200px;
	border: solid #2e3436 3px;
}

div.data_container {
	background: url(images/copper_seamless.jpg) #c17d11;
	
	margin: 0 auto;
	min-height: 150px;
	border: solid black 2px;
	width: 500px;
	clear:both;
}

div.data_container p {
	color: #d3d7cf;
}


.varpanel .method {
	border-radius: 10px;
	background-color: #180625;
	padding: 5px 10px;
	width: 90%;
	color: #d3d7cf;
	text-align: left;
	margin: 2px 15px 5px 2px;
	display: table;
	z-index: 5;
}

.varpanel .method span.metname {
	display: inline-block;
	width: 110px;
	font-weight: bold;
}

.varpanel .method input {
	height: 25px;
	width: 60px;
	margin-left: 15px;
	font-weight: bold;
	background: #d3d7cf;
	text-align: center;
}


.dropvalue {
	display: none;
}

.selected_obj {
	width:70%;
}

div.data_container h1 {
	margin: 0;
	font-size: 14pt;
}

div.data_container h2 {
	margin: 0;
	font-size: 13pt;
}

div.data_container p {
	margin: 5px;
}

div.data_select {
	width: 100%;
}

details.data_select {
	border: solid black 1px;
}

.obj {
	text-decoration: none;
	color: #d3d7cf;
	font-weight: bold;
	padding: 2px;
	margin: 5px 10px 5px 5px;
	border: solid 3px #000000;
	border-radius: 4px;
	background: url(images/copper_seamless.jpg);
	float: left;
	cursor: pointer;
	font-family: "DS Behrensschrift";
}

.obj img {
	height: 20px;
	vertical-align: text-bottom;
}

#inventorypanel .obj {
	font-size: 10pt;
}

.obj.selected {
	background: #ddbd92 url(images/copper_2.jpg);
	color: #000000;
}

#left_panel {
	margin-top: 10px;
	margin-right:50px;
	width: 500px;
}

#right_panel {
	width: 600px;
}

.code {
	max-width: 500px;
	height: 240px;
	color: #171300;
	font-weight: bold;
	font-size: 13pt;
	font-family: monospace;
	background: url(images/marble_seamless.jpg) #d3d7cf;
	border: groove gray 5px;
}

#narration {
	max-width: 600px;
	min-width: 400px;
	height: 240px;
	color: #2c0303;
	font-weight: bold;
	font-size: 11pt;
	font-family: monospace;
	background: #7c9d3e url("images/parchment_seamless.jpg");
	border: groove #443908 5px;
}

label {
	display: block;
	font-family: "Fantaisie Artistique", fantasy;
	font-size: 15pt;
	margin-top:10px;
	
	text-shadow: 0px 0px 5px #ffffff;
}

label.newaction {
	text-shadow: none;
}

.float {
	float: left;
}

h2 {
	margin: 10px 0px 5px;
}


/* HISTORY */

#actions {
	border: solid 4px #000000;
}

.action {
	border: double 5px #37240f;
}

.even {
	background: url(images/parchment_seamless.jpg);
}

.odd {
	background: url(images/parchment_seamless.jpg);
}

.narration {
	font-size: 13pt;
	color: black;
	margin: 15px;
	padding: 15px;
	font-family: "Black Chancery", Carlito, arial, sans;
}

.date {
	font-size: 11pt;
	font-style: italic;
	color: #101010;
	font-weight: bold;
}

details.witnesses {
	font-size: 11pt;
}

summary {
	font-weight: bold;
	font-style: italic;
}

.prenarration {
	font-size: 12pt;
	color: #2e3436;
	background-color: #b98e4b;
	border-radius: 20px;
	padding: 20px;
	margin: 5px 0px;
}

.prenarration p {
	white-space: pre-wrap;
}

details.roomstatus summary {
	font-size: 14pt;
	font-weight: bold;
}

button {
	background-color: #2e3436;
	color: white;
	border: solid #babdb6 2px;
}

button:disabled {
	color: gray;
}

label.newaction {
	background-color: #720d0d;
	font-weight: bold;
	font-size: 11pt;
	color: white;
	font-family: sans;
	display: inline;
	margin-left: 100px;
}

label.newaction + input {
	transform: scale(1.5);
}

/* USER */

textarea#decision {
	width:95%;
	height:150px;
	font-family: Lohengrin, arial, sans;
	font-size: 15pt;
	background: url(images/papyrus_seamless.jpg);
	border: solid 3px black;
}

.ui-draggable-handle {
	cursor: grab;
}

.ui-draggable-dragging {
	cursor: grabbing;
	opacity: 0.5;
}

h3, h4 {
	margin: 10px 0px 5px;
}

details.comment {
	border: solid #362307 3px;
	margin: 15px;
	border-radius: 5px;
}

details.comment summary {
	background: #ce953b;
}


.rooms > div {
	border: solid 4px #2e3436;
	background: url(images/pavement_seamless.jpg) #babdb6;
	border-radius: 20px 20px 0px 0px;
}

.rooms p {
	margin: 15px;
	font-weight: bold;
}

.rooms h2 {
	background: #2e3436;
	color: #eeeeec;
	padding: 5px 15px;
}

.rooms .decidingusers {
	padding: 0;
	margin: 15px;
}

.rooms .decidingusers li {
	display: inline;
	margin-right: 5px;
	font-style: italic;
}

.userdata {
	padding: 15px;
	background: #abfd84;
	border: solid 3px #397104;
	border-radius: 8px;
}

.userdata p {
	background: rgba(256, 256, 256, 0.3);
	padding: 3px;
	border-radius: 3px;
}

.decision {
	float:left;
	min-width: 300px;
	max-width: 500px;
	border: solid 3px #397104;
	border-radius: 8px;
	margin: 10px;
	color: black;
	padding: 15px;
	background: /*url(images/malaquita.jpg)*/ #abfd84;
}

.decision h3 {
	color: #750020;
}

.decision p {
	background: url(images/papyrus_seamless.jpg);
	border: solid 2px black;
	padding: 10px 5px;
	margin: 5px 0;
	font-style: italic;
	font-family: Lohengrin, arial, sans;
	font-size: 14pt;
	white-space: pre-wrap;
}

.owndecision p {
	font-style: italic;
	font-family: Lohengrin,arial,sans;
	font-size: 14pt;
	background: url("images/papyrus_seamless.jpg");
	border: inset 3px black;
	padding: 15px;
	white-space: pre-wrap;
}

details.roomselector {
	margin-top: 15px;
}

details.roomselector summary {
	margin-bottom: 10px;
}

details.roomselector .selectroom div {
	font-size: 11pt;
	display: inline;
	padding: 5px;
	margin-top: 5px;
	border: solid black 2px;
	border-radius: 5px;
	color: #d3d7cf;
	font-weight: bold;
	background: #2e3436;
}

details.roomselector .selectroom div.thislocation {
	background: #a40000;
}


ul#classes li {
	float:left;
	width: 300px;
}

.showclass {
	width: 600px;
	padding: 15px;
	border: solid black 3px;
	border-radius: 15px;
	background: url(images/copper.jpg);
}

#parentclass {
	border: solid black 3px;
	border-radius: 15px;
}

.var a.var-close {
	color: #babdb6;
	font-size: 12pt;
	float:right;
	display: none;
}

.var.selected a.var-close {
	content: 'x';
	color: #babdb6;
	font-size: 12pt;
	float:right;
	display: inline;
}

div.CodeMirror {
	background: url(images/marble_seamless.jpg);
	border: solid 3px black;
}

.ui-draggable {
	z-index: 10;
}

input.token {
	width: 100%;
	display: block;
	color: black;
}

.action p {
	margin: 20px;
}

.action img {
	max-width: 350px;
	max-height: 350px;
	margin: 20px;
}

.description {
	font-style: italic;
}

div.remodal {
	color: #2b2e38;
	background: url(images/wood-textures-high-quality-1.jpg);
	border-radius: 20px;
	border: solid #362307 5px;
}

a.destroy {
	color: #f00000;
	font-size: 13pt;
}

#classes {
	background: rgba(150, 150, 100, 0.5);
	border: solid 3px black;
}

.lapels {
	margin: 0px 5px;
	width: 100%;
}

.lapels .lapel {
	background: #af7822 url("images/wood-textures-high-quality-1.jpg");
	text-align: center;
	border: solid 2px black;
	border-radius: 12px 0px 0px 0px;
	overflow: hidden;
}  

.lapels .lapel a {
	display: inline-block;
	color: black;
	font-size: 13pt;
	padding: 3px 0px;
	width: 50px;
}

.lapels .lapel.selected a {
	background: rgba(50, 0, 0, 0.5);
}

.lapels .lapel:HOVER a {
	background: rgba(100, 0, 0, 0.3);
}

.lapels .lapel.temporal a {
	background: rgba(0, 0, 100, 0.5);
}

.room img {
	height: 18px;
	vertical-align: text-bottom;
}