<html>
<head>
</head>
<body>
	<header th:fragment="user">
		<ul>
			<li><a href="#" th:href="@{~/user}">Situation</a></li>
			<li><a href="#" th:href="@{~/status}">My Status</a></li>
			<li><a href="#" th:text="${user.name}" th:href="@{~/account}">Profile</a></li>
			<li><a href="#" th:href="@{~/logout}">Logout</a></li>
		</ul>
	</header>
	<header th:fragment="gm">
		<ul>
			<li><a href="#" th:href="@{~/gm}">Start</a></li>
			<li><a href="#" th:href="@{~/rooms}">Rooms</a></li>
			<li><a href="#" th:href="@{~/classes}">Classes</a></li>
			<li><a href="#" th:text="${user.name}" th:href="@{~/account}">Profile</a></li>
			<li><a href="#" th:href="@{~/logout}">Logout</a></li>
		</ul>
	</header>
	<footer></footer>
</body>
</html>