<!DOCTYPE html>
<html>
<head>
<title th:text="${user.name} + ' - Account'">DemiurgoWeb - Account</title>
<link rel="stylesheet" href="style.css" />
</head>
<body>
	<header th:replace="fragments/header :: ${user.role}">Header</header>
	<main>
	<h1>Account</h1>
	<div class="userdata">
		<h3>User:</h3>
		<p th:text="${user.name}">(Your name)</p>
		<h3>World:</h3>
		<p th:text="${user.world}">(World)</p>
		<h3>Role:</h3>
		<p th:text="${user.role}">(Role)</p>
		<label for="token">Token:</label>
		<input class="token" type="text" readOnly="readOnly" th:value="${user.token}" />
	</div>
		
		<h2>Change password</h2>
		<form action="#" method="POST" th:action="@{/changepasswd}" th:object="${changePasswordForm}">
			<label for="pass">Old Password:</label>
			<input type="password" th:field="*{oldPassword}" />
			<label for="pass">New Password:</label>
			<input type="password" th:field="*{newPassword}" />
			<div>
				<button type="submit">Change</button>
			</div>
			<p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Old Password error</p>
			<p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password error</p>
			<p th:if="${chngd}==true">Password changed successfuly.</p>
			<p th:if="${chngd}==false">Cannot change password. Check your old password.</p>
		</form>
	</main>
</body>
</html>