<!DOCTYPE html>
<html>
<head>
<title>Class Panel - DemiurgoWeb</title>
<link rel="stylesheet" href="style.css" />
</head>
<body>
	<header th:replace="fragments/header :: gm">Header</header>
	<main>
		<h1>Class Panel</h1>
		<h3>Check class</h3>
		<ul id="classes">
			<li th:each="cl : ${classes}">
				<a th:text="${cl.className}"
					th:href="@{/class(name=${cl.className})}">character</a>
			</li>
			<li th:remove="all">
				<a>building</a>
			</li>
			<li th:remove="all">
				<a>furniture</a>
			</li>
		</ul>
		<div style="clear:both;"></div>
	
		<h3>Create new class</h3>
		<form action="#" method="GET" th:action="@{/createclass}"
			th:object="${createClassForm}">
			<label for="className">Class Name:</label> <input type="text"
				th:field="*{className}" />
			<button type="submit">Create</button>
			<p th:if="${#fields.hasErrors('className')}" th:errors="*{className}">Class
				Name error</p>
		</form>
	</main>
</body>
</html>