<!DOCTYPE html>
<html>
<head>
<title th:text="${cl.className + ' - DemiurgoWeb'}">Class Panel - DemiurgoWeb</title>
<link rel="stylesheet" href="style.css" />
</head>
<body>
	<header th:replace="fragments/header :: gm">Header</header>
	<main>
		<div class="showclass float">
			<h1 th:text="'Class: ' + ${cl.className}">Class: character</h1>
			<h4 th:if="${cl.parent}!=null">Inherits from <a th:href="@{/class(name=${cl.parent.className})}" th:text="${cl.parent.className}">object</a></h4>
			<h3>Current Fields:</h3>
			<div id="fields" class="varpanel">
				<div class="var" th:each="v : ${cl.fields}">
					<span class="varname" th:text="${v.name}">var</span>
					<span class="prev" th:text="${#strings.abbreviate(v.value,13)}">'15'</span>
					<span class="varval" th:text="${v.value}">'15'</span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<h3>Current Methods:</h3>
			<div id="methods" class="varpanel">
				<div class="method" th:each="m : ${cl.methods}">
				<span class="margs" th:text="${m.returnArg} + ' = '">output = </span>
				<span class="mname" th:text="${m.name}">method</span>
				<span> (<span class="margs" th:text="${#strings.listJoin(m.args, ' ')}">args</span> )</span>
				</div>
			</div>
			<form action="#" method="POST" th:action="@{/modifyclass}"
				th:object="${createClassSecondForm}">
				<input type="hidden"
					th:field="*{className}" />
					<label for="code">Code:</label>
					<textarea class="code" th:field="*{code}" rows="20" cols="50"></textarea>
					<p th:if="${parseErrors} != null" th:text="${parseErrors}"></p>
				<div><button type="submit">Modify</button>
				<button type="reset">Reset</button></div>
			</form>
		</div>
		
		<details>
			<summary>Parent Class</summary>
			<div id="parentclass" class="showclass float" th:if="${parent != null}">
				<h2 th:text="'Parent Class: ' + ${parent.className}">Parent Class: character</h2>
				<h4 th:if="${parent.parent} != null">Inherits from <a th:href="@{/class(name=${parent.parent.className})}" th:text="${parent.parent.className}">object</a></h4>
				<h3>Fields:</h3>
				<div id="fields" class="varpanel">
					<div class="var" th:each="v : ${parent.fields}">
						<span class="varname" th:text="${v.name}">var</span>
						<span class="prev" th:text="${v.value}">'15'</span>
						<span class="varval" th:text="${v.value}">'15'</span>
					</div>
					<div style="clear:both;"></div>
				</div>
				<h3>Methods:</h3>
				<div id="methods" class="varpanel">
					<div class="method" th:each="m : ${parent.methods}">
					<span class="margs" th:text="${m.returnArg} + ' = '">output = </span>
					<span class="mname" th:text="${m.name}">method</span>
					<span> (<span class="margs" th:text="${#strings.listJoin(m.args, ' ')}">args</span> )</span>
					</div>
				</div>
				<h3>Code:</h3>
				<textarea class="code" disabled="true" rows="20" cols="50" th:text="${parent.code}"></textarea>
			</div>
			<div style="clear:both;"></div>
		</details>
	</main>
</body>
</html>