<!DOCTYPE html>
<html>
<head>
<title>DemiurgoWeb - GM Panel</title>
</head>
<body>
	<h1>DemiurgoWeb</h1>
	<h4>
		User: <span th:text="@{username}">(Your name)</span>
	</h4>
	<div>
		<a th:href="@{~/seeallrooms}">See all rooms</a>
	</div>
	<form action="#" method="get" th:action="@{/room}"
		th:object="${gmPanelForm}">
		<div th:switch="${not #lists.isEmpty(pendingRooms)}">
			<div th:case="true">
				<label for='pending'>Pending rooms:</label> <select
					th:if="${not #lists.isEmpty(pendingRooms)}" th:field="*{room}">
					<option th:each="room : ${pendingRooms}" th:value="${room}"
						th:text="${room}">The void</option>
				</select>

				<button type="submit">Check room</button>
			</div>
			<div th:case="false">There are no pending rooms.</div>
		</div>
	</form>
	<a th:href="@{~/logout}">Logout</a>
</body>
</html>