<!DOCTYPE html>
<html>
<head>
<title>Demiurgo Web - Login</title>
<link rel="stylesheet" href="style_login.css" />
</head>
<body>
	<main>
		<h1>Demiurgo</h1>
		<form action="#" th:action="@{/login}" th:object="${loginForm}"
			method="post">
			<label for="world">World:</label> <select th:field="*{world}">
					<option th:each="world : ${worlds}" th:value="${world}"
						th:text="${world}">World1</option>
				</select>
			<label for="username">User name:</label>
			<input type="text" th:field="*{username}" placeholder="Your user name" />
			<label for="pass">Password:</label>
			<input type="password" th:field="*{pass}" placeholder="Your password" />
			<div>
				<button type="submit">Login</button>
				<a th:href="@{/register}">or Register</a>
			</div>
			<div>
			<p th:if="${#fields.hasErrors('world')}" th:errors="*{world}">World error</p>
			<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</p>
			<p th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">Password error</p>
			<p th:if="${autherror} !=null" th:text="${autherror}">Login error</p>
			</div>
		</form>
	</main>
	
</body>
</html>