<!DOCTYPE html>
<html>
<head>
<title th:text="'Action #' + ${action.id}">Action #1 - DemiurgoWeb</title>
<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" href="style.css" />

<!-- jQuery -->
<script src="lib/jquery/jquery-3.1.1.min.js"></script>
<script src="lib/jquery/jquery-ui.min.js"></script>

<!-- Dialogs -->
<link rel="stylesheet" href="lib/remodal/remodal.css" />
<link rel="stylesheet" href="lib/remodal/remodal-default-theme.css" />
<script src="lib/remodal/remodal.min.js"></script>

<!-- CodeMirror -->
<link rel="stylesheet" href="lib/codemirror/codemirror.css" />
<script src="lib/codemirror/codemirror.js"></script>

<script src="roomfunctions.js"></script>

<script th:inline="javascript">
var room = /*[[${room}]]*/ {'users':[{'decision':'Some text','name':'bob90','obj':{'classname':'character','fields':[{'name':'name','type':'STRING','value':'bob'}],'id':0,'locationId':0},'role':'user'}],'id':0,'longPath':'/region1/city1/inn','objects':[{'classname':'character','fields':[{'name':'name','type':'STRING','value':'bob'}],'id':0,'locationId':0}],'variables':[{'name':'bob','type':'OBJECT/character','value':'#0'}]};
</script>
</head>
<body>
	
	<div th:replace="room :: remodal"></div>
	
	<header th:replace="fragments/header :: gm">Header</header>
	<main class="remodal-bg">
		<h1 th:text="'Action #' + ${action.id} + ' on ' + ${action.room}">Action # on /region1/city1/inn</h1>
		<a th:if="${action.published}" href="#"
		   th:href="@{'/history#act' + ${action.id}(path=${action.room})}">Return to History</a>
		<div>
		<details class="roomstatus">
			<summary>See Room Status</summary>
			<h2>Objects In The Room</h2>
			<th:block th:replace="room :: roomobjects"></th:block>
				
			<h2>Variables</h2>
				<div id="variables" class="varpanel">
					<div th:each="var : ${room.variables}" class="var" th:classappend="${typecss.getCss(var.type)}">
						<span class="varname" th:text="${var.name}"></span>
						<span class="prev" th:text="${#strings.abbreviate(var.value,13)}"></span>
						<span class="varval" th:text="${var.value}"></span>
						<a class="var-close" th:href="@{/delvar(path=${room.longPath},var=${var.name})}">x</a>
					</div>
				</div>
				<div style="clear: both;"></div>
		</details>
		
			<p th:text="${action.date}" class="date"></p>
			<h2>Narration</h2>
			<div class="prenarration">
				<p th:text="${action.narration}"></p>
			</div>
			<details th:if="${not #lists.isEmpty(action.witnesses)}">
				<summary>Witnesses and decisions</summary>
				<div id="decisions">
					<div class="decision" th:each="w : ${action.witnesses}" th:id="'user-'+${w.user}">
						<h3 class="float" th:text="${w.user}">Some guy</h3>
						<div class='userobj'></div>
						<div style="clear:both;"></div>
						<p th:if="${w.decision}!=null" th:text="${w.decision}">Some text</p>
						<p th:if="${w.decision}==null">(User did not submit a decision)</p>
					</div>
					<div style="clear:both;"></div>
				</div>
			</details>
		</div>
		
		<form action="#" method="post" th:action="@{/narrate}" th:object="${narrateActionForm}">
			<input type="hidden" th:field="*{actionId}" />
			<label for="narration">Set Narration:</label>
			<textarea th:field="*{narration}" rows="20" cols="80">Narration of events</textarea>
			<p th:if="${#fields.hasErrors('narration')}" th:errors="*{narration}">Narration error</p>
			<div><button type="submit">Send narration</button></div>
		</form>
	</main>
</body>
</html>