<!DOCTYPE html>
<html>
<head>
<title>Register - Demiurgo Web</title>
<link rel="stylesheet" href="style_register.css" />
</head>
<body>
	<main>
		<form action="#" th:action="@{/register}" th:object="${registerForm}"
			method="post">
			<div>
				<label for="world">World:</label> <select th:field="*{world}">
					<option th:each="world : ${worlds}" th:value="${world}"
						th:text="${world}">World1</option>
				</select>
			</div>
			<div>
				<label for="username">User name:</label> <input type="text"
					th:field="*{username}" />
			</div>
			<div>
				<label for="mail">Mail address:</label> <input type="email"
					th:field="*{mail}" />
			</div>
			<div>
				<label for="pass">Password:</label> <input type="password"
					th:field="*{pass}" />
			</div>
			<div>
				<button type="submit">Register</button>
				<a href="#" th:href="@{/login}">Return to Login</a>
			</div>
			<div>
				<p th:if="${#fields.hasErrors('world')}" th:errors="*{world}">World
					error</p>
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
					error</p>
				<p th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">Password
					error</p>
				<p th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Mail
					error</p>
					<p th:if="${loginError} != null" th:text="${loginError}">Login error</p>
			</div>
		</form>
	</main>
</body>
</html>