<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /> 
<title>Room Panel - DemiurgoWeb</title>
<link rel="stylesheet" href="style.css"/>
</head>
<body>
	<header th:replace="fragments/header :: gm">Header</header>
	<main>
	<h2>Create new room</h2>
	<form action="#" method="POST" th:action="@{~/createroom}"
		th:object="${createRoomForm}">
		<label for="path">Path:</label>
		<input type="text" th:field="*{path}"/>
		<button type="submit">Create</button>
	</form>
	<h2>Check room</h2>
	<div>
		<p th:each="path : ${paths}">
			<a th:text="${path}" th:href="@{/room(path=${path})}">/region1/city1</a>
			<a th:remove="all">/region1/city1/inn</a> <a th:remove="all">/region1/road_city1_city2</a>
		</p>
	</div>
	</main>
</body>
</html>