<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /> 
<title>Room Panel - DemiurgoWeb</title>
<link rel="stylesheet" href="style.css"/>
</head>
<body>
	<header th:replace="fragments/header :: gm">Header</header>
	<main>
	<h1>Create new room</h1>
	<form action="#" method="POST" th:action="@{/createroom}"
		th:object="${createRoomForm}">
		<label for="path">Path:</label>
		<input type="text" th:field="*{path}" placeholder="/full/room/path" />
		<button type="submit">Create</button>
	</form>
	<h2>Check room</h2>
	<div class="rooms">
		<div th:each="path : ${paths}">
			<h3 class="float" th:text="${path}">/region1/city1</h3><p class="float">
			<a class="destroy" onclick="return confirm('Are you sure? All objects inside will be lost!')" th:href="@{/destroyroom(path=${path})}">Destroy this room</a></p>
			<div style="clear:both;"></div>
			<p>
				<a th:href="@{/room(path=${path})}">Go to Room Panel</a> |
				<a th:href="@{/history(path=${path})}">See Room History</a>
			</p>
			
		</div>
	</div>
	</main>
</body>
</html>