<!DOCTYPE html>
<html>
<head>
<title>DemiurgoWeb - User Panel</title>
<link rel="stylesheet" href="style.css"/>
</head>
<body>
	<header th:replace="fragments/header :: user">Header</header>
	<main>
		<h1>Current Situation</h1>
		<h2>Recent actions</h2>
		<div id="arrows">
			<a th:if="${prevpag} != null" th:href="@{/user(first=${prevpag},count=${countpag})}">⇦</a>
			<a th:if="${postpag} != null" th:href="@{/user(first=${postpag},count=${countpag})}">⇨</a>
		</div>
		<div id="actions">
		<div class="action" th:each="action : ${actions}"
			th:classappend="${actionStat.odd}? 'odd' : 'even'">
			<div class="narration" th:utext="${action}">Narration</div>
		</div>
		</div>
		<div>
		<div th:if="${current} != null">
			<p>You have sent your decision and you are waiting for a GM to resolve it.</p>
			<h4>Current decision:</h4>
			<div class="owndecision">
				<p th:text="'&quot;'+${current}+'&quot;'">Decision text</p>
			</div>
			<p>Send a new decision to override the current one.</p>
		</div>
		<form  action="#" method="post" th:action="@{/user}"
			th:object="${userPanelForm}">
			<label for="decision">What do you want to do?</label>
			<textarea th:field="*{decision}" rows="10" cols="40"></textarea>
			<div><button type="submit">Send</button></div>
		</form>
		
		</div>
	</main>
</body>
</html>